thead {
  color: #337ab7;
}

.searchBox {
  width: 100%;
  height: 40px;
  color: #337ab7;
  border-bottom: none;
}

.searchLabel {
  text-align: right;
  height: 40px;
}

.labelSuggestionContainer {
  background-color: aliceblue;
}

.labelSuggestion {
  display: block;
}

.wordSuggestion {
  font-weight: bold;
}

.table th {
  text-align: left;
}
